{% extends "base.html" %}
{% block title %} Password changed {% endblock %}
{% block content %}
    <a href="http://www.sherv.net/"><img alt="Chainsaw" width=44 height=15
                                         src="http://www.sherv.net/cm/emoticons/fighting/chainsaw.gif"></a>
    <b>Your password was changed, sadly successfully</b>
    <a href="http://www.sherv.net/"><img alt="Chainsaw" width=44 height=15
                                         src="http://www.sherv.net/cm/emoticons/fighting/chainsaw.gif"></a>

{% endblock %}
